<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <div class="side_bar">
            <div class="logo">
                <h1>TODO List</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="http://localhost:8080/home">Panding Task</a></li>
                    <li><a href="http://localhost:8080/complete">Complated Task</a></li>
                    <li><a href="http://localhost:8080/add">Add Task</a></li>
                </ul>
            </div>
        </div>
        <hr>
